[Unit]
Description=Odoo Dev Server Monitoring Tool
After=network.target

[Service]
Type=simple
User=gbadmin
WorkingDirectory=/home/gbadmin/dev-server-moon
# Use the Python interpreter from the virtual environment
ExecStart=/home/gbadmin/dev-server-moon/venv/bin/python -m app.main
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=odoo-dev-monitor
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
