[Unit]
Description=Odoo Dev Server Monitoring Tool
After=network.target

[Service]
Type=simple
User=gbadmin
WorkingDirectory=/home/gbadmin/dev-server-moon
ExecStart=/usr/bin/python3 odoo-monitor.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=odoo-dev-monitor
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
